<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>

    <form>
        <input name="name"  placeholder="Nom de l'article"/>
        <input name="title"  placeholder="Description"/>
        <button type="submit">Valider</button>
    </form>

    {% for ob in article  %}
        <li>{{ob.name}}</li>
    {% endfor %}
    
</body>
</html>